.root {
    -fx-background: #FFFFFF;
}
.text-field{
    -fx-border-color:#E6E6E6;
    -fx-border-style:solid;
    -fx-border-width:1;
}

.combo-box{
    -fx-border-color:#E6E6E6;
    -fx-border-style:solid;
    -fx-border-width:1;
}
.combo-box .arrow{
    -fx-background-color: #0074E0;
}
.combo-box .arrow-button{
    -fx-background-color:white;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color:white;
}
.combo-box .list-cell{
    -fx-background-color:white;
}


.tab-pane {
    -fx-border-color: #0074E0;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: white;
   
}
.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}.table-view .corner {
    -fx-background-color: transparent;
}.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, white, #C3D6EA);

    -fx-padding: 0 0 5px 0;
}.table-view .column-header {
    -fx-background-color: transparent;
}.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell: hover {
    -fx-background-color: blue;
    -fx-text-decoration-color: black;

}

.table-row-cell: odd{
    -fx-background-color:  #C3D6EA;
    -fx-padding: 0.0em;
}

.table-row-cell: even{
    -fx-background-color: white;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, white, #C3D6EA);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, white, #C3D6EA);
}.table-row-cell: selected {
    -fx-background-color: #0074E0;
    -fx-text-decoration-color:black;
}